.mainBar {
  align-items: center;
  border-bottom: 1px solid rgb(234, 234, 234, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.otherLinksContainer {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  border-bottom: 1px solid rgb(234, 234, 234);

  & a {
    padding: 1rem 2rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }

  & a:first-child {
    margin-top: 0.5rem;
  }

  & a:last-child {
    margin-bottom: 0.5rem;
  }
}
